@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    @if (!User.Identity.IsAuthenticated)
    {
        <p>Uygulamayı kullanabilmek için giriş yapmalısınız</p>
    } 
    else
    {
        <i>@User.Identity.Name</i> <!-- Kullanıcı adı burada gösteriliyor -->
    }
</div>
